.Friendlist {
    text-align: center;
}
.frlist-bg {
    background: radial-gradient(53.86% 75.87% at 58.54% 46.14%, #9ae2c9 0%, #5ebbb5 100%);
    padding: 50px 30px;
}
h1 {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    transform: rotate(5deg) skew(-5deg, -5deg);
    color: black;
    text-shadow: 3px 3px 0px #f1f1f1, 8px 8px 10px rgba(0, 0, 0, 0.3);
}
.container-friendlist {
    background-color: rgb(9, 128, 120);
    padding: 20px;
    margin: 50px auto;
    width: 950px;
    border-radius: 35px;
    box-shadow: 3px 5px 10px gray;
}
.frlist-title {
    margin: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(248, 193, 53);
    font-weight: bold;
    text-decoration: none;
}
.btn2_section {
    display: flex;
    flex-direction: row;
}
.btn2 {
    padding: 7px;
    margin: 7px;
    width: 50%;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: darkseagreen;
    box-shadow: 0 15px 5px 5px rgb(0 0 0 / 4%), 0 1px 5px 0 rgb(0 0 0 / 9%);
}
.btn2:hover {
    background-color: rgb(168, 233, 168);
}
