  /* .carousel-item {
      margin: 0 auto;

  } */

  /* h1{
    text-align: center;
    font-size: 18px;
  } */

.carousel-inner{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 7px 24px 3px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 3px 7px 24px 3px rgba(0,0,0,0);
object-fit: cover;
}
.carousel-wrapper{
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    z-index: 999;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* .form-text{
  color: rgb(255, 255, 0);
} */
 
