/* .container-fluid {
    height: fit-content;
    padding: 0;
    background-color: rgba(141, 17, 17, 0.386);
} */

/* .navbar {
    height: fit-content;
    padding: 0;
    background-color: rgba(116, 104, 104, 0.386);
} */

.navbar img {
    width: 6rem;
}

.nav-btns {
    display: flex;
    justify-content: right;
    color: black;
}

.nav-btn:hover {
    color: rgb(24, 228, 24);
}

h2,
h3 {
    text-align: center;
}
