/* .container-fluid {
    height: fit-content;
    padding: 0;
    background-color: rgba(141, 17, 17, 0.386);
} */

/* .navbar {
    height: fit-content;
    padding: 0;
    background-color: rgba(116, 104, 104, 0.386);
} */

.navbar img {
    width: 9rem;
}

.nav-btns {
    display: flex;
    justify-content: right;
    color: black;
}

.nav-btn:hover {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

h2,
h3 {
    text-align: center;
}
