body {
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff4b2b, #ff416c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff4b2b, #ff416c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.sign-login-btns {
    display: flex;
    padding: 1rem;
}

.btn-primary {
    width: 8rem;
}

/* header {
} */

/* .signUp {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

h2 {
    font-family: "Amatic SC", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 7rem;
    line-height: 108.6%;
    /* or 167px */

    /* text-align: center; */

    color: #ffffff;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
