@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
    /* background: radial-gradient(53.86% 75.87% at 58.54% 46.14%, #9ae2c9 0%, #5ebbb5 100%); */
    font-family: "Neucha", cursive;
}

main {
    height: 90vh;
    /* position: relative;
    z-index: 100;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    background-color: teal;
    background-image: url("../images/landing-background.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}

.landingWrapper {
    /* position: relative;
    z-index: 100; */

    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    background-color: teal;
    background-image: linear-gradient(rgba(42, 42, 42, 0.27), rgba(0, 0, 0, 0.263)), url("../images/landing-background.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sign-login-btns {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.landing-btn {
    width: 20rem;
    background: #f37126;
    color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.landing-btn-alt {
    width: 20rem;
    background: #2a2018;
    color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    margin-top: 2rem;
    font-family: "Amatic SC", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 7rem;
    line-height: 108.6%;

    color: #ffffff;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.underline {
    background-color: #ffd239;
    height: 7px;
    width: 200px;
    margin: auto;
}
