/*  
.d-flex{
  height: 100vh;
 

} */
.page-container {
    padding: 0.5rem !important;
    
    height: 100vh;
    /* width:60%; */
    margin:  10% ;
  
  
}

.user-card-full1 {
   
    overflow: hidden;
   
}

.cardC {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    
    
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full1 .user-profile1 {
    border-radius: 5px 0 0 5px;
   
}

.bg-c-lite-green2 {
    
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile{
    padding: 20px 0
}

.card-block2 {
    padding: 1rem
}

.m-b-25 {
    margin-bottom: 15px
}


.img-radius2 {
    border-radius: 5px;
    height:auto;
    width:60%;
}

h6 {
    font-size: 1.5rem;
}

.cardC .card-block2 p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 1.1rem;
    }
}

.card-block2 {
    padding: 0.5rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.cardC .card-block2 p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #57595a !important;
    font-size: 1.8rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600;
    font-size: 1.5rem;
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10,
p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link2 li {
    display: inline-block;
    height: 30px;
}

.user-card-full .social-link2 li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}




 