/* .body {
    margin-top: 20px;
  
    text-align: left;
    background-color: #ff9375;
} */
.profile-page {
    /* background-color: blue; */
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f4f2e9;
    box-shadow: 0 0 200px #c4c4c4 inset;
}

.main-body {
    box-shadow: 0px 16px 17px -10px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 16px 17px -10px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 16px 17px -10px rgba(0, 0, 0, 0.55);
    background-color: #f4f2e9;
    padding: 2rem;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: cadetblue; */
}

.profile-page-title {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 114px;
    line-height: 108.6%;
    padding-top: 3rem;
    text-align: center;

    color: #666575;

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/* .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
} */

.card {
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-width: 0; */
    word-wrap: break-word;
    /* background-color: #fff; */
    /* background-clip: border-box; */
    /* border: 0 solid rgba(0, 0, 0, 0.125); */
    /* border-radius: 0.25rem; */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* padding: 3rem; */
    /* height: 400px; */
    margin-bottom: 0;
}

.profile-setting-cards {
    text-align: center;
    /* background-color: brown; */
}

.row,
.form-row,
.form-group {
    padding: 0.2rem;
}

.main-body-title {
    padding-top: 2rem;
    /* background-color: chocolate; */
}

.card-body {
    /* flex: 1 1 auto; */
    /* min-height: 1px; */
    /* text-align: center; */
    width: 10rem;

    /* background-color: chartreuse; */
}

.profile-settings-submit {
    background-color: crimson;
}

.profile-settings-submit {
    background: #2a2019;
    border: none;
    font-size: 1.4rem;
    color: white;
}
.profile-settings-submit:hover {
    background: #f37126;
    border: none;
}
