body {
  background-color: #62bdb6;
}
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 30rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: white;
  font-size: 40px;
  padding-right: 190px;
  /* text-transform: uppercase; */
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
